@{
    ViewBag.title = "Upload Salary";
}

@{
    System.Security.Claims.ClaimsIdentity claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    List<int> permissions = new List<int>();
    System.Security.Claims.Claim claim = claimsIdentity.FindFirst("Permissions");
    if (claim != null)
    {
        permissions = claim.Value.Split(',').Select(x => Convert.ToInt32(x)).ToList();
    }
    var editSalary = permissions.Contains((int)Syngenta.SIP.Models.Permissions.EditSalary);
    var readSalary = permissions.Contains((int)Syngenta.SIP.Models.Permissions.ReadSalary);
    var generateKey = permissions.Contains((int)Syngenta.SIP.Models.Permissions.GenerateKey);
}


<div class="text-right col-lg-12">
    @if (generateKey)
    {
        <h1>
            <input type="button" id="GenerateKey" class="upload_button green_button" value="GenerateKey" />
        </h1>
    }
</div>


<div class="text-center">
    <div class="row">


        <div class="col-md-6">
            <div class="form-group padding">
                @if (editSalary)
                {
                    <label class="required" for="fileInput">File (Only.xlsx and less than 5 MB)</label>
                    <div class="flex">
                        <input type="file" id="fileInput" required
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <input type="button" id="UploadBtn" class="upload_button green_button small" value="Upload" />
                    </div>
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group padding">
                @if (readSalary)
                {
                    <label>DownLoad File </label>
                    <div>
                        <input type="button" id="DownloadBtn" class="green_button small" value="Download" onclick="location.href='@Url.Action("DownLoadSalary", "Data")'" />
                    </div>
                }
            </div>
        </div>
        <div id="errorDiv" class="required_v1 text-danger" style="word-wrap:break-word;"></div>
        <div class="errorMessages"></div>
    </div>
</div>


<script>
        var isUploading = false;
        $("#UploadBtn").click(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("fileInput").files.length;
            $("#errorDiv").html('');
            if (!isUploading) {
                isUploading = true;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("fileInput").files[i];

                    formData.append("fileInput", file);
                }
                formData.append('headerRow', $('#jsHeaderRowNumber').val())
                $("#errorDiv").html('');


                $('.holder').show();
                $('#UploadBtn').prop('value', 'Uploading...');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadSalary", "Data")',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        response.forEach(function (response) {
                            $(".errorMessages").append("<p>" + response.Message + "</p>")
                        });
                        $('#UploadBtn').prop('value', 'Upload');
                    },
                    error: function (error) {
                        error.forEach(function (data) {
                            $(".errorMessages").append("<p>" + data + "</p>")
                        })
                        $('#UploadBtn').prop('value', 'Upload');
                        $('.holder').hide();
                    }
                });
            }

    });


        $("#GenerateKey").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GenerateKey", "Data")',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response != null)
                        alert(response);
                },
                error: function (error) {
                    alert("Error Occured");
                }
            });
        });

</script>
