

@{
    Layout = "~/Views/Shared/_LayoutManageData.cshtml";
    ViewBag.Title = "UploadDocuments";
}

<h2>UploadDocuments</h2>

    <div class="text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group padding">
                    <label class="required" for="fileInput">File (Only.xlsx and less than 5 MB)</label>
                    <div class="flex">
                        <input type="file" name="uploadDocument" id="uploadDocument" /> <br />
                        <input type="button" value="Upload" id="UploadBtn" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group padding">
                    <label class="required" for="fileInput">DownLoad File </label>
                    <div class="flex">
                        <input type="button" id="donloadBtn" class="upload_button green_button small" value="Download" />
                    </div>
                </div>
            </div>
            <div id="errorDiv" class="required_v1 text-danger" style="word-wrap:break-word;"></div>
            <div class="errorMessages"></div>
        </div>
    </div>


    <script>
            var isUploading = false;
            $("#UploadBtn").click(function () {
                var formData = new FormData();
                var totalFiles = document.getElementById("uploadDocument").files.length;
                $("#errorDiv").html('');
                if (!isUploading) {
                    isUploading = true;
                    for (var i = 0; i < totalFiles; i++) {
                        var file = document.getElementById("uploadDocument").files[i];
                        formData.append("uploadDocument", file);
                    }
                    formData.append('headerRow', $('#jsHeaderRowNumber').val())
                    $("#errorDiv").html('');


                    $('.holder').show();
                    $('#UploadBtn').prop('value', 'Uploading...');
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UploadUserDocument", "Data")',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            response.forEach(function (response) {
                                $(".errorMessages").append("<p>" + response.Message + "</p>")
                            });
                            $('#UploadBtn').prop('value', 'Upload');
                        },
                        error: function (error) {
                            error.forEach(function (data) {
                                $(".errorMessages").append("<p>" + data + "</p>")
                            })
                            $('#UploadBtn').prop('value', 'Upload');
                            $('.holder').hide();
                        }
                    });
                }

        });
     $("#donloadBtn").click(function () {
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("DownloadDataImport", "Data")',
                    success: function (response) {
                        response.forEach(function (response) {
                            $(".errorMessages").append("<p>" + response.Message + "</p>")
                        });
                        $('#UploadBtn').prop('value', 'Upload');
                        //setTimeout(function () {
                        //    $('#fileInput').val();
                        //}, 2000);


                    },
                    error: function (error) {
                        error.forEach(function (data) {
                            $(".errorMessages").append("<p>" + data + "</p>")
                        })
                        $('#UploadBtn').prop('value', 'Upload');
                        $('.holder').hide();
                        //setTimeout(function () {
                        //    location.reload();
                        //}, 2000);
                    }

                });
        });


    </script>
