<?xml version="1.0" encoding="utf-8"?>
<unity
  xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--EF Code first mapping-->
    <register type="Syngenta.SIP.Interface.Repository.ISyngentaSIPUnitOfWork, Syngenta.SIP.Interface.Repository"
              mapTo="Syngenta.SIP.Implementation.Repository.SyngentaSIPUnitOfWork, Syngenta.SIP.Implementation.Repository" />
    
    <register type="Syngenta.SIP.Interface.Repository.ISyngentaSIPContext, Syngenta.SIP.Interface.Repository"
              mapTo="Syngenta.SIP.Implementation.Repository.SyngentaSIPContext, Syngenta.SIP.Implementation.Repository" />
    
    <register type="Syngenta.SIP.Interface.Repository.ISyngentaSIPSecurityContext, Syngenta.SIP.Interface.Repository"
              mapTo="Syngenta.SIP.Implementation.Repository.SyngentaSIPSecurityContext, Syngenta.SIP.Implementation.Repository" />
    

    <!--Data Access Mapping-->    
    
    <register type="Syngenta.SIP.Interface.Repository.IUserRepository, Syngenta.SIP.Interface.Repository"
              mapTo="Syngenta.SIP.Implementation.Repository.UserRepository, Syngenta.SIP.Implementation.Repository" />

    <register type="Syngenta.SIP.Interface.Repository.IPlanRepository, Syngenta.SIP.Interface.Repository"
              mapTo="Syngenta.SIP.Implementation.Repository.PlanRepository, Syngenta.SIP.Implementation.Repository" />

    <register type="Syngenta.SIP.Interface.Repository.IDataRepository, Syngenta.SIP.Interface.Repository"
              mapTo="Syngenta.SIP.Implementation.Repository.DataRepository, Syngenta.SIP.Implementation.Repository" />

    <register type="Syngenta.SIP.Interface.Repository.IApplicationSettingRepository, Syngenta.SIP.Interface.Repository"
              mapTo="Syngenta.SIP.Implementation.Repository.ApplicationSettingRepository, Syngenta.SIP.Implementation.Repository" />

    <register type="Syngenta.SIP.Interface.Repository.IDocumentRepository, Syngenta.SIP.Interface.Repository"
              mapTo="Syngenta.SIP.Implementation.Repository.DocumentRepository, Syngenta.SIP.Implementation.Repository" />
    
    <!--Service layer mapping-->
    
    <register type="Syngenta.SIP.Interface.Service.IUserService, Syngenta.SIP.Interface.Service"
              mapTo="Syngenta.SIP.Implementation.Service.UserService, Syngenta.SIP.Implementation.Service" />

    <register type="Syngenta.SIP.Interface.Service.ILogService, Syngenta.SIP.Interface.Service"
              mapTo="Syngenta.SIP.Implementation.Service.LogService, Syngenta.SIP.Implementation.Service" />

    <register type="Syngenta.SIP.Interface.Service.IDataService, Syngenta.SIP.Interface.Service"
              mapTo="Syngenta.SIP.Implementation.Service.DataService, Syngenta.SIP.Implementation.Service" />
    
    <register type="Syngenta.SIP.Interface.Service.IStorageService, Syngenta.SIP.Interface.Service"
              mapTo="Syngenta.SIP.Implementation.Service.StorageService, Syngenta.SIP.Implementation.Service" />

    <register type="Syngenta.SIP.Interface.Service.ICryptoService, Syngenta.SIP.Interface.Service"
           mapTo="Syngenta.SIP.Implementation.Service.CryptoService, Syngenta.SIP.Implementation.Service" />

    <register type="Syngenta.SIP.Interface.Service.IApplicationSettingService, Syngenta.SIP.Interface.Service"
          mapTo="Syngenta.SIP.Implementation.Service.ApplicationSettingService, Syngenta.SIP.Implementation.Service" />

    <register type="Syngenta.SIP.Interface.Service.IDocumentService, Syngenta.SIP.Interface.Service"
      mapTo="Syngenta.SIP.Implementation.Service.DocumentService, Syngenta.SIP.Implementation.Service" />
  </container>
</unity>