<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="SyngentaSIPApplicationConnection"
         connectionString="Data Source=ieazpwsqlp003.database.windows.net;Initial Catalog=SIPMiniCalculator;User ID=Admin_SIPMiniCalculator;Password=SYNgenta2016@!"
         providerName="System.Data.SqlClient"
    xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="SyngentaSIPSecurityConnection"
        connectionString="Data Source=ieazpwsqlp003.database.windows.net;Initial Catalog=SIPMiniCalculator;User ID=Admin_SIPMiniCalculator;Password=SYNgenta2016@!"
        providerName="System.Data.SqlClient"
   xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="azure:ApplicationId" value="c4e6e890-3a95-4f8e-aba3-3694338bb004"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="azure:PostLogoutRedirectUri" value="http://syn-as-ieaz-prd-mobileapp-sipcal.azurewebsites.net"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="azure:RedirectUri" value="http://syn-as-ieaz-prd-mobileapp-sipcal.azurewebsites.net"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="azure:storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=saieazprdbsservicessip;AccountKey=hNDahO1WRL/ucDuPb9prdBwuIm03p0pCbMFsMs66tP0fMTgDQ4PIcUKPiKHmPY0XKKX3EkopfiRF5w4IS9g7Rw==" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>